<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
 id="org.languagetool.oxygen.plugin"
 name="LanguageToolPlugin"
 description="LanguageTool plugin for Oxygen"
 version="${project.version}"
 vendor="Daniel Naber"
 class="org.languagetool.oxygen.LanguageToolPlugin"
 classLoaderType="preferReferencedResources">
 <runtime>
   <library name="lib/${project.build.finalName}.jar"/>
   <library name="lib/languagetool-http-client-3.6.jar"/>
   <library name="lib/jackson-annotations-2.8.0.jar"/>
   <library name="lib/jackson-core-2.8.4.jar"/>
   <library name="lib/jackson-databind-2.8.4.jar"/>
 </runtime>
 
 <extension type="WorkspaceAccess" class="org.languagetool.oxygen.LanguageToolPluginExtension"/>
 <extension type="OptionPage" class="org.languagetool.oxygen.LanguageToolOptionPagePluginExtension"/> 
 <toolbar id="LanguageToolWorkspaceAccessToolbarID" initialSide="NORTH" initialRow="1"/>
</plugin>
